<!DOCTYPE html5>
<html>
  <head>
    <title>WEB PAGE</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
    />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"
    ></script>
  </head>
  <body>
    <table border="1" id="example" class="display">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Items</th>
          <th>Amount Rs.</th>
          <th>Amount Cr.</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tbody>
        {% for key in excel_data %}
        <tr>
          {%for val in key%}
          <td>{{val}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
